.gradient_custom_2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #65c4b7, #57C5B6, #159895, #24657e);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #65c4b7, #57C5B6, #159895, #24657e);
  }

  @media (min-width: 768px) {
    .gradient_form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient_custom_2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }

  body {
    color: black;
    background-color: #b9d1ff;
  }