// Here you can add other styles
body {
    background-color: #95BDFF;
  }

  .gg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #6868ab;
}

.calendar_mark{
  font-weight: 900;
  background-color: rgb(243, 243, 243);
  color: black;
}

.c_hover{
  cursor: pointer;
}